<form #form="ngForm" novalidate>
  <div class="col-sm-6 col-xs-12">
    <app-input label="Razao Social">
      <input type="text" readonly class="form-control" name="razaoSocial" [ngModel]="company.razaoSocial" placeholder="Razao Social">
    </app-input>
  </div>
  <div class="col-sm-6 col-xs-12">
    <app-input label="CNPJ Base">
      <input pattern="^[0-9]*$" type="text" readonly class="form-control" name="cnpjBase" [ngModel]="company.cnpjBase" placeholder="CNPJ Base">
    </app-input>
  </div>
  <div class="col-sm-6 col-xs-12">
    <app-input errorMessage="Só números e deve conter 6 caracteres" label="Resto do CNPJ">
      <input minlength="6" maxlength="6" pattern="^[0-9]*$" type="text" class="form-control" name="cnpj" ngModel placeholder="Resto do CNPJ">
    </app-input>
  </div>
  <div class="col-sm-6 col-xs-12">
    <app-input label="Cidade">
      <input type="text" class="form-control" name="city" ngModel placeholder="Cidade">
    </app-input>
  </div>
  <div class="col-sm-6 col-xs-12">
    <app-input label="Estado" succ>
      <input type="text" class="form-control" name="state" ngModel placeholder="Estado">
    </app-input>
  </div>
  <div class="col-sm-6 col-xs-12">
    <app-input label="Status da Filial">
      <div class="checkbox">
        <label>
          <input type="checkbox" ngModel name="status"> Status da Filial
        </label>
      </div>
    </app-input>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <button (click)="emitSubmit(form.value)" [disabled]="!form.valid || loading" class="btn btn-block btn-primary">
      Criar
    </button>
  </div>
</div>
